.card {
  height: 40rem;
}
.card-img-top{
  margin-top: 10em;
  height: 15em;
  width: auto;
}
.banner{
  background: url("../images/wine.jpg")
  no-repeat center center;
  background-size: cover;
  height: 20rem;
}

h1 {
  color: #8f5200;
  text-align: center;
  padding-top: 8rem;
}
.body-form{
  height: 1000px;
  background: url("../images/chai2.jpg") no-repeat center center;
  background-size: 100% 100% ;
}

.form-wine {
  width: 56%;
  background-color: #e6e0e0;
  border-radius: 43px;
  opacity: 70%;
  margin-block: auto;
  margin: auto;
}
